<!DOCTYPE html>
<html>
<head>
  <title>MagicBeans</title>
  <%= stylesheet_link_tag    "magic_beans/application", media: "all" %>
  <%= javascript_include_tag "magic_beans/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
