#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1999;
	background: $overlay-background;
	opacity: $overlay-opacity;
	&.clickable {
		cursor: pointer;
	}
}

.dialog {
	display: none;
	position: fixed;
	top: 40%;
	left: 50%;
	width: 500px;
	z-index: 2000;
	margin-left: -250px;
	text-transform: none;
	.dialog-header {
		@include rem(padding, $dialog-header-padding);
		transition: background-color 300ms;
		@if $dialog-border-radius > 0 {
			border-top-left-radius: $dialog-border-radius;
			border-top-right-radius: $dialog-border-radius;
		}
		background-color: $dialog-header-background;
		.heading {
			display: inline-block;
			color: $dialog-header-color;
			font-weight: bold;
		}
		.close {
			padding: 0;
			background-color: transparent;
			border: none;
			float: right;
			cursor: pointer;
			outline: none;
			width: $base-line-height;
			height: $base-line-height;
			background-position: top right;
		}
	}
	.dialog-body {
		@include rem(padding, $dialog-body-padding);
		@if $dialog-border-radius > 0 {
			border-bottom-left-radius: $dialog-border-radius;
			border-bottom-right-radius: $dialog-border-radius;
		}
		position: relative;
		background-color: $dialog-body-background;
		overflow: hidden;
		img {
			display: block;
		}
		p {
			@include rem(margin-bottom, 1rem);
			&:last-child {
				margin-bottom: 0;
			}
		}
		&.squared {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		&.overflow {
			overflow: auto;
		}
	}
	.dialog-footer {
		@include rem(padding, 1rem);
		@if $dialog-border-radius > 0 {
			border-bottom-left-radius: $dialog-border-radius;
			border-bottom-right-radius: $dialog-border-radius;
		}
		width: 100%;
		background-color: $dialog-footer-background;
	}
	.dialog-content {
		@include rem(margin-bottom, nth($dialog-body-padding, 1));
	}
	.dialog-error {
		@include rem(font-size, 0.9rem);
		color: $dialog-error-color;
		font-weight: bold;
		text-align: center;
	}
	&.dialog-important {
		.dialog-header {
			background-color: $dialog-header-important;
			h4 {
				font-weight: bold;
				color: $dialog-header-color;
			}
		}
	}
}