.toast {
	@include rem(padding, 1rem 2rem);
	@include rem(bottom, 3rem);
	border-radius: 50px;
	user-select: none;
	cursor: default;
	background-color: $toast-background;
	white-space: nowrap;
	color: $toast-color;
	opacity: 0.9;
	position: fixed;
	z-index: 1200;
	left: 50%;
	font-weight: bold;
	.toast-undo {
		@include rem(margin-left, 0.5rem);
		color: $toast-undo-color;
	}
}