.outside-window {
	position: absolute !important;
	left: -9999px !important;
	top: -9999px !important;
}

.grayscale {
	filter: gray;
	filter: grayscale(100%);
}

.outer-container {
	@include outer-container;
}

.clearfix {
	@include clearfix;
}

.blurry {
	content: '';
	transition: -webkit-filter 200ms linear;
	transition: -moz-filter 200ms linear;
	transition: -ms-filter 200ms linear;
	transition: -o-filter 200ms linear;
	transition: filter 200ms linear;

	// Old timey Firefox
	filter: image-url('blur.svg#blur');
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	-o-filter: blur(2px);
	filter: blur(2px);
}

.shake {
	animation: shake 500ms;
}

.pop {
	animation: pop 500ms;
}