.spinner {
	transition: (transform 500ms cubic-bezier(0.250, 0.460, 0.250, 1), opacity 500ms);
	transform: scale(15);
	display: inline-block;
	position: absolute;
	margin: 0 auto;
	width: 70px;
	text-align: center;
	margin-left: -35px;
	margin-top: -9px;
	left: 50%;
	top: 50%;
	opacity: 0;
}

.thinking {
	.spinner {
		transform: scale(1);
		opacity: 1;
		height: 100%;
		.bounce1 {
			animation-delay: -0.32s;
		}

		.bounce2 {
			animation-delay: -0.16s;
		}
		& > span {
			@include rem(margin, 0 0.2rem);
			animation: bouncedelay 1.4s infinite ease-in-out both;
			-webkit-mask-image: -webkit-radial-gradient(circle, white, black);
			display: inline-block;
			width: 16px;
			height: 16px;
			background-color: $button-loader-background;
			border-radius: 100%;
		}
	}
	&.button {
		overflow: hidden;
		.loader-text {
			transform: scale(0);
			opacity: 0;
		}
	}
}

@-webkit-keyframes bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1.0);
	}
}

@keyframes bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1.0);
	}
}
